# Binairies & objects
*.o
*.obj
*.slo
*.lo
*.a
*.la
*.lai
*.lib
*.so
*.so.*
*.dylib
*.dll
*.exe
*.out
*.app
*.gch
*.pch
*.d
*.ilk
*.pdb
*.dwo

# CUDA
*.ptx
*.cubin
*.fatbin

# Build systems
build/
CMakeCache.txt
CMakeFiles/
Makefile.cmake

# IDEs
.vscode/
.idea/

# Misc
*.log
.DS_Store
